<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<%- include('partials/sidebar.ejs') %>



<body>

            <div class="content1 container my-40 mx-auto px-4 md:px-12 bg-transparent">
              <div class="flex flex-wrap -mx-1 lg:-mx-4">
                <div class="sm:mx-full sm:w-full sm:max-full ">
                  <h2 class="mt-6 mb-6 text-3xl font-extrabold text-left text-white leading-9">
                    Top Songs for Today
                  </h2>
                </div>
                <% song.forEach(song => { %>
                 
                  <div class="my-1 px-1 w-full h-1/4 md:w-1/4 sm-1/2 lg:my-4 lg:px-4 lg:w-1/6">
                      <article class="overflow-hidden rounded-lg shadow-lg">
          
                          <a href="/song/<%= song.id %>">
                              <img alt="Placeholder" class="object-cover h-72 w-full " src="<%= song.cover %>">
                          </a>
          
                          <header class="flex items-center justify-between leading-tight p-2 md:p-4 bg-gray-600">
                              <h1 class="text-lg">
                                  <a class="no-underline hover:underline text-white ml-2" href="#">
                                    <%= song.name %>
                                  </a>
                              </h1>
                              <p class="text-white text-sm">
                                <%= song.genre %>
                              </p>
                          </header>
          
                          <footer class="flex items-center justify-between leading-none p-2 md:p-4 bg-pink-300">
                            <p class="ml-2 text-xl object-fit">
                                <%= song.artist %>
                              </p> 
                              <% if(currentUser.rank !== "Premium" ) {%>
                                <% } else { %> 

                            <a download class="flex items-center no-underline hover:text-blue-600 text-black text-2xl" href="<%= song.file %>">
                                <i class='bx bxs-download' ></i>
                              </a>
                              <%    }%>
                              <% if(getfav.includes(song.id)) {%>
                                <a class="no-underline text-gray-600 hover:text-red-600 text-xl " href="/favorite/remove/<%= song.id %>">
                                    <span class="hidden">Like</span>
                                    <i class="fa fa-heart" style="color:rgb(233, 58, 58)"></i>
                                </a>
                                <% }else { %>
                                <a class="no-underline text-gray-600 hover:text-red-600 text-xl " href="/favorite/add/<%= song.id %>">
                                    <span class="hidden">Like</span>
                                    <i class="fa fa-heart"></i>
                                </a>
                                <% } %>

                          </footer>
          
                      </article>
                  </div>
                  <%})%>
                  <div class="sm:mx-full sm:w-full sm:max-full mt-20 ">
                    <h2 class="mt-6 mb-6 text-3xl font-extrabold text-left text-white leading-9">
                      New releases
                    </h2>
                  </div>
                  <% songnew.forEach(songnew => { %>        
                    <div class="my-1 px-1 w-full h-1/4 md:w-1/4 sm-1/2 lg:my-4 lg:px-4 lg:w-1/6">         
                        <article class="overflow-hidden rounded-lg shadow-lg">
            
                            <a href="#">
                                <img alt="Placeholder" class="object-cover h-72 w-full " src="<%= songnew.cover %>">
                            </a>
            
                            <header class="flex items-center justify-between leading-tight p-2 md:p-4 bg-gray-600">
                                <h1 class="text-lg">
                                    <a class="no-underline hover:underline text-white ml-2" href="#">
                                      <%= songnew.name %>
                                    </a>
                                </h1>
                                <p class="text-white text-sm">
                                  <%= songnew.genre %>
                                </p>
                            </header>
            
                            <footer class="flex items-center justify-between leading-none p-2 md:p-4 bg-pink-300">
                              <p class="ml-2 text-xl object-fit">
                                  <%= songnew.artist %>
                                </p> 
                                <% if(currentUser.rank !== "Premium" ) {%>
                                  <% } else { %> 
  
                              <a download class="flex items-center no-underline hover:text-blue-600 text-black text-2xl" href="<%= song.file %>">
                                  <i class='bx bxs-download' ></i>
                                </a>
                                <%    }%>
                                <% if(getfav.includes(song.id)) {%>
                                  <a class="no-underline text-gray-600 hover:text-red-600 text-xl " href="/favorite/remove/<%= song.id %>">
                                      <span class="hidden">Like</span>
                                      <i class="fa fa-heart" style="color:rgb(233, 58, 58)"></i>
                                  </a>
                                  <% }else { %>
                                  <a class="no-underline text-gray-600 hover:text-red-600 text-xl " href="/favorite/add/<%= song.id %>">
                                      <span class="hidden">Like</span>
                                      <i class="fa fa-heart"></i>
                                  </a>
                                  <% } %>
  
                            </footer>
            
                        </article>                                
                    </div>
                    <%})%>
          
                    <div class="sm:mx-full sm:w-full sm:max-full mt-20 ">
                      <h2 class="mt-6 mb-6 text-3xl font-extrabold text-left text-white leading-9">
                        Most Favorite songs
                      </h2>
                    </div>
                    
                    <% fav.forEach(song => { %>
                      <div class="my-1 px-1 w-full h-1/4 md:w-1/4 sm-1/2 lg:my-4 lg:px-4 lg:w-1/6">
                          <article class="overflow-hidden rounded-lg shadow-lg">
              
                              <a href="/song/<%= song.id %>">
                                  <img alt="Placeholder" class="object-cover h-72 w-full " src="<%= song.cover %>">
                              </a>
              
                              <header class="flex items-center justify-between leading-tight p-2 md:p-4 bg-gray-600">
                                  <h1 class="text-lg">
                                      <a class="no-underline hover:underline text-white ml-2" href="#">
                                        <%= song.name %>
                                      </a>
                                  </h1>
                                  <p class="text-white text-sm">
                                    <%= song.genre %>
                                  </p>
                              </header>
              
                              <footer class="flex items-center justify-between leading-none p-2 md:p-4 bg-pink-300">
                                <p class="ml-2 text-xl object-fit">
                                    <%= song.artist %>
                                  </p> 
                                  <% if(currentUser.rank !== "Premium" ) {%>
                                    <% } else { %> 
    
                                <a download class="flex items-center no-underline hover:text-blue-600 text-black text-2xl" href="<%= song.file %>">
                                    <i class='bx bxs-download' ></i>
                                  </a>
                                  <%    }%>
                                  <% if(getfav.includes(song.id)) {%>
                                    <a class="no-underline text-gray-600 hover:text-red-600 text-xl " href="/favorite/remove/<%= song.id %>">
                                        <span class="hidden">Like</span>
                                        <i class="fa fa-heart" style="color:rgb(233, 58, 58)"></i>
                                    </a>
                                    <% }else { %>
                                    <a class="no-underline text-gray-600 hover:text-red-600 text-xl " href="/favorite/add/<%= song.id %>">
                                        <span class="hidden">Like</span>
                                        <i class="fa fa-heart"></i>
                                    </a>
                                    <% } %>
    
                              </footer>
              
                          </article>
         
                      </div>
                      <%})%>

                      <div class="sm:mx-full sm:w-full sm:max-full mt-20 ">
                        <h2 class="mt-6 mb-6 text-3xl font-extrabold text-left text-white leading-9">
                          Today for you
                        </h2>
                      </div>

                      <% randsong.forEach(song => { %>
                        <div class="my-1 px-1 w-full h-1/4 md:w-1/4 sm-1/2 lg:my-4 lg:px-4 lg:w-1/6">
                            <article class="overflow-hidden rounded-lg shadow-lg">
                
                                <a href="/song/<%= song.id %>">
                                    <img alt="Placeholder" class="object-cover h-72 w-full " src="<%= song.cover %>">
                                </a>
                
                                <header class="flex items-center justify-between leading-tight p-2 md:p-4 bg-gray-600">
                                    <h1 class="text-lg">
                                        <a class="no-underline hover:underline text-white ml-2" href="#">
                                          <%= song.name %>
                                        </a>
                                    </h1>
                                    <p class="text-white text-sm">
                                      <%= song.genre %>
                                    </p>
                                </header>
                
                                <footer class="flex items-center justify-between leading-none p-2 md:p-4 bg-pink-300">
                                  <p class="ml-2 text-xl object-fit">
                                      <%= song.artist %>
                                    </p> 
                                    <% if(currentUser.rank !== "Premium" ) {%>
                                      <% } else { %> 
      
                                  <a download class="flex items-center no-underline hover:text-blue-600 text-black text-2xl" href="<%= song.file %>">
                                      <i class='bx bxs-download' ></i>
                                    </a>
                                    <%    }%>
                                    <% if(getfav.includes(song.id)) {%>
                                <a class="no-underline text-gray-600 hover:text-red-600 text-xl " href="/favorite/remove/<%= song.id %>">
                                    <span class="hidden">Like</span>
                                    <i class="fa fa-heart" style="color:rgb(233, 58, 58)"></i>
                                </a>
                                <% }else { %>
                                <a class="no-underline text-gray-600 hover:text-red-600 text-xl " href="/favorite/add/<%= song.id %>">
                                    <span class="hidden">Like</span>
                                    <i class="fa fa-heart"></i>
                                </a>
                                <% } %>
      
                                </footer>
                
                            </article>
                
                        </div>
                        <%})%>

              </div>
          </div>


            </body>
          
        