<%- include('partials/header.ejs') %>
<%- include('partials/sidebar.ejs') %>
<%- include('partials/navbar.ejs') %>

<link rel="stylesheet" href="/css/favorite.css">

<div class="m-6 ml-52 mt-36 ">

  <div class="flex">
    <img class="dailyimg mr-6 rounded-lg" src="<%= song.cover %>">
    <div class="flex flex-col justify-center">
      <!-- content -->
      <h4 class="mt-0 mb-2 ml-2 uppercase text-gray-500 tracking-widest text-xl">Song Name :</h4>
      <h1 class="mt-0 mb-2 text-white text-6xl"><%= song.name %></h1>
      <p class="text-white text mb-2 text-xl">artist : <%= song.artist %> </p>
      <p class="text-white text-xl">genre : <%= song.genre %> </p>
      <button class="mt-2 bg-pink-200 text-black block py-3 px-9 rounded-full text-3xl hover:bg-pink-400 hover:text-white"><a><i class="fa fa-heart-o" aria-hidden="true"></i></a>❤</button>
    </div>
    
  </div>
  <div class="mt-6 flex justify-between">
    <div class="flex ">
      <!-- <button class="mr-2 bg-green-500 text-green-100 block py-3 px-9 rounded-full text-3xl hover:bg-pink-400 hover:text-gray-700">PLAY</button> -->
      <audio  id="player" controls preload="metadata">
        <source src="<%= song.file %>" type="audio/mpeg">
        Your browser doesn't support the element
      </audio>
      <a download class="flex items-center no-underline hover:text-blue-600 text-pink-300 text-2xl ml-20" href="<%= song.file %>">
        <i class='bx bxs-download' ></i>
      </a>
      <!-- <button class="mr-2 border border-white block p-2 rounded-full"><img src="https://image.flaticon.com/icons/png/512/2913/2913124.png" height="25" width="25"></button>
      <button class="mr-2 border border-white block p-3 rounded-full py-3 px-6 text-white">...</button> -->
    </div>
  </div>

 
</div>  